* {
    margin: 0;
    padding: 0;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    /* color: #B89088; */
}

table, th, tr, td {
    border: 1px solid;
}

/* body {
    background-color: #E6D4D2;
    padding: 125px 200px;
} */

/* .container {
    display: grid;
    border: 1px solid #DD9E8D; 
    background-color: #E8D6CA;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
} */

/* .section-name {
    margin: 10px;
    align-content: center;
} */